@use "../../../../scss/vars" as *;

.skill-card {
  max-width: 289px;
  padding: 29px 26px;
  background-color: #edf5ff;
  border-radius: 10px;
  border: 1px solid #fff;

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 30%);
  }
}

body[data-theme="dark"] .skill-card {
  background-image: linear-gradient(
    120deg,
    rgb(28 28 28 / 50%),
    rgb(5 5 5 / 100%)
  );

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgb(255 255 255 / 30%);
  }
}
%skill-card-item {
  margin-left: 0;
  margin-right: auto;
}

.skill-icon {
  @extend %skill-card-item;

  margin-bottom: 19px;
  width: 44px;
  height: 44px;
  background-color: $services-light-theme-icon-bg-color;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
  }
}

body[data-theme="dark"] .skill-icon {
  background-color: $main-title-black-theme-text-color;
}

.skill-title {
  @extend %skill-card-item;
  @include inter-font(600);

  font-size: 15px;
  line-height: 120%;
  margin-bottom: 18px;
  color: $main-light-theme-text-color;
}

body[data-theme="dark"] .skill-title {
  color: $main-title-black-theme-text-color;
}

.skill-text {
  @extend %skill-card-item;
  @include inter-font(400);

  font-size: 14px;
  line-height: 150%;
  color: $card-light-theme-text-color;
}

body[data-theme="dark"] .skill-text {
  color: $main-black-theme-text-color;
}
