@use "nav-dark";
@use "../../../scss/vars" as *;

.header-nav {
  $color-gradient: linear-gradient(rgb(0 0 255 / 50%), rgb(255 255 0 / 50%));

  @media screen and (width <= calc($tablet-min-width - 1px)) {
    display: none;
  }

  nav ul {
    display: flex;
    background-color: rgba($color: $main-light-theme-bg-color, $alpha: 50%);

    li {
      @include montserrat-fount(400);

      font-size: 18px;
      color: $second-light-theme-text-black-color;
      padding-left: 20px;
      padding-right: 20px;
      transition: background-position-x 500ms linear;
      transition: background-size 500ms linear;
    }

    li.chosen {
      background-image: $color-gradient;
      background-size: 0%;
      background-repeat: no-repeat;
    }
  }

  a {
    @extend %hover-animation;

    &:hover,
    &:focus {
      color: $link-hover-text-color;
    }
  }
}

.modal-menu-overlay {
  $color-gradient: linear-gradient(rgb(0 0 255 / 50%), rgb(255 255 0 / 50%));

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    li {
      @include montserrat-fount(400);

      font-size: 18px;
      color: $second-light-theme-text-black-color;
      padding: 10px 10px 5px;
      width: 100%;
      text-align: end;
    }

    li:not(:last-child) {
      border-bottom: 1px solid $main-light-theme-text-color;
    }

    li.chosen {
      background-image: $color-gradient;
      background-size: 0%;
      background-repeat: no-repeat;

      &.hundred {
        background-size: 100%;

        // background-position-x: right;
      }
    }
  }

  a {
    @extend %hover-animation;

    &:focus,
    &:hover {
      color: $link-hover-text-color;
    }
  }
}
