<div class="modal-overlay">
  <div class="modal">
    <form class="contact-form" action="" onsubmit="return false;">
      <h2 class="modal-contact-title">Get In Touch</h2>
      <h3 class="modal-contact-subtitle">Lets work together</h3>
      <label for="name" class="contact-label">Name</label>
      <input
        class="contact-name"
        type="text"
        name="name"
        id="name"
        placeholder="Full Name"
        autofocus
      />
      <label for="email" class="contact-label">Email</label>
      <input
        class="contact-email"
        type="emai"
        name="email"
        id="email"
        placeholder="example@mail.com"
        required
      />
      <label for="message" class="contact-label">Message</label>
      <textarea
        class="contact-message"
        type="text"
        name="message"
        id="message"
      ></textarea>
      <button class="contact-button" type="submit">Get in Touch</button>
    </form>
    <div class="contact-modal-cross">
      <svg>
        <use href="./images/svg/sprite.svg#cross"></use>
      </svg>
    </div>
  </div>
</div>
