@use "skill";
@use "../../../../vars" as *;

.skills-container {
  max-width: 840px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills-title {
  @extend %title;
}

body[data-theme="dark"] .skills-title {
  color: $main-title-black-theme-text-color;
}

.skills-subtitle {
  @extend %section-subtitle;
}

body[data-theme="dark"] .skills-subtitle {
  background-image: $subtitle-gradient-black-theme;
}

.skills-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet-min-width) {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  li {
    margin-top: 30px;

    &:nth-child(-n + 3) {
      margin-top: 0;
    }
  }
}

.more-button {
  @extend %section-button;

  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  margin-top: 30px;

  // TODO: less then 9 item display none
  display: none;

  svg {
    width: 24px;
    height: 24px;
    fill: currentcolor;
  }
}

body[data-theme="dark"].more-button {
  border-color: $link-hover-text-color;
  color: $main-black-theme-text-color;

  &:hover,
  &:focus {
    color: $link-hover-text-color;
  }
}
