@use "../../../vars" as *;

.portfolio-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio-title {
  @extend %title;
}

body[data-theme="dark"] .portfolio-title {
  color: $main-title-black-theme-text-color;
}

.portfolio-subtitle {
  @extend %section-subtitle;
}

body[data-theme="dark"] .portfolio-subtitle {
  background-image: $subtitle-gradient-black-theme;
}
