<div id="pagination" class="pagination-box">
  <button class="arrow-buttons left-arrow" prev-btn type="button">prev</button>
  <ul class="pagination-list">
    <li class="pagination-list-item"><button type="button">1</button></li>
    <li class="pagination-list-item"><button type="button">2</button></li>
    <li class="pagination-list-item"><button type="button">3</button></li>
    <li class="pagination-list-item"><button type="button">4</button></li>
    <li class="pagination-list-item"><button type="button">5</button></li>
  </ul>
  <button class="arrow-buttons right-arrow" next-btn type="button">next</button>
</div>
