@use "../../scss/vars" as *;

header {
  // TODO: only when scroll fixed header and smolest heit maybe display none some elements
  position: fixed;
  top: 0;
  width: 100%;

  // margin-bottom: 35px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;

  @media screen and (max-width: $tablet-min-width) {
    position: relative;
  }
}

.burger {
  width: 33px;
  height: 33px;
  fill: $main-light-theme-text-color;

  @media (prefers-color-scheme: dark) {
    fill: $main-black-theme-text-color;
  }

  @media screen and (min-width: $tablet-min-width) {
    display: none;
  }
}

.logo {
  width: 33px;
  height: 33px;
  fill: none;
  stroke: $main-light-theme-text-black-color;

  @media (prefers-color-scheme: dark) {
    stroke: $main-title-black-theme-text-color;
  }
}

.logo-container {
  display: flex;
  gap: 2px;
  align-items: center;
}

.logo-text {
  @extend %oleo-script-regular;

  color: $main-light-theme-text-black-color;
  line-height: auto;
  font-size: 24px;

  @media (prefers-color-scheme: dark) {
    color: $main-title-black-theme-text-color;
  }
}

@media screen and (width <= calc($tablet-min-width - 1px)) {
  .lang-theme-block {
    display: none;
  }
}

// .header-cross {

//   display: inherit;
// }
.header-cross {
  display: none;
}

.header-burger {
  display: initial;
}

// .modal-menu-overlay.is-open .header-cross {
//     display: inherit;
//   }
.modal-menu-overlay.is-open ~ svg.burger {
  .header-cross {
    display: initial;
  }

  .header-burger {
    display: none;
  }
}
