.burger {
  width: 14px;
  height: 10px;
  fill: var(--main-wite-text-color);
}
.logo {
  fill: none;
  stroke: var(--main-wite-text-color);
  width: 33px;
  height: 33px;
}
.logo-container {
  font-size: 4px;
  display: inline-block;
}
.logo-text {
  display: inline-block;
  color: var(--main-wite-text-color);
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  line-height: auto;
  font-size: 24px;
}
