@use "colors" as *;
@use "widths" as *;
@use "fonts" as *;
%subtitle {
  color: transparent;
  background-clip: text;
  margin: 0 auto;
  width: fit-content;
  line-height: 1;
}

%section-subtitle {
  @extend %subtitle;
  @include inter-font(600);

  font-size: 14px;
  background-image: $subtitle-gradient-light-theme;
  margin-bottom: 40px;

  @media (prefers-color-scheme: dark) {
    background-image: $subtitle-gradient-black-theme;
  }
}

%title {
  @include inter-font(800);

  font-size: 24px;
  letter-spacing: -0.72px;
  text-align: center;
  color: $second-title-light-theme-text-color;
  text-transform: capitalize;

  @media (prefers-color-scheme: dark) {
    color: $main-title-black-theme-text-color;
  }

  @media screen and (min-width: $tablet-min-width) {
    font-size: 45px;
    letter-spacing: -1.35px;
  }
}

%section-button {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid $main-light-theme-text-color;
  border-radius: 75px;
  text-transform: capitalize;
  color: $main-light-theme-text-color;
  margin: 0 auto;
  line-height: 1px;

  @include montserrat-fount(500);

  font-size: 13px;

  @media screen and (min-width: $tablet-min-width) {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
  }

  @media (prefers-color-scheme: dark) {
    border-color: $link-hover-text-color;
    color: $main-black-theme-text-color;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    color: $link-hover-text-color;
  }
}

%hover-animation {
  transition: color 500ms linear 50ms;
}

%inputs {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: $main-light-theme-text-color;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: inherit;

  @media (prefers-color-scheme: dark) {
    border-color: $input-dark-theme-border-color;
  }

  @media screen and (min-width: $tablet-min-width) {
    min-width: 500px;
    padding: 20px 30px;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    border-color: $link-hover-text-color;
  }
}
