$main-black-theme-text-color: #e1e1e1;
$second-black-theme-text-color: #a9a9a9;
$main-title-black-theme-text-color: #fff;
$second-title-black-theme-text-color: #c1c1c1;
$main-black-theme-bg-color: #1a1a1a;
$main-light-theme-text-color: #484e53;
$secod-light-theme-text-color: #282938;
$main-title-light-theme-text-color: #000;
$second-title-light-theme-text-color: #050505;
$main-light-theme-bg-color: #e0e8f6;
$link-hover-text-color: #4fc3f7;
