@use "../../scss/vars" as *;

.footer-container {
  padding-bottom: 30px;

  @media screen and (min-width: $tablet-min-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.char {
  margin-bottom: 30px;
  color: $main-light-theme-text-color;

  @media (prefers-color-scheme: dark) {
    color: $main-black-theme-text-color;
  }
}

.social {
  &-list {
    display: flex;
    justify-content: center;
    gap: 21px;
    margin-bottom: 25px;
  }

  &-icon {
    width: 32px;
    height: 32px;
    fill: $secod-light-theme-text-color;

    @media (prefers-color-scheme: dark) {
      fill: $second-black-theme-text-color;
    }
  }
}

.copyrite-text {
  @include inter-font(400);

  font-size: 12px;
  text-align: center;
  color: $secod-light-theme-text-color;

  @media (prefers-color-scheme: dark) {
    color: $second-black-theme-text-color;
  }
}
