@use "../../../scss/vars" as *;

.about-container {
  max-width: 840px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-title {
  @include inter-font(800);

  font-size: 24px;
  letter-spacing: -0.72px;

  // line-height: 1px;
  text-align: center;
  color: $second-title-light-theme-text-color;
  text-transform: capitalize;

  @media (prefers-color-scheme: dark) {
    color: $main-title-black-theme-text-color;
  }

  @media screen and (min-width: $tablet-min-width) {
    font-size: 45px;
    letter-spacing: -1.35px;
  }
}

.about-subtitle {
  @extend %subtitle;
  @include inter-font(600);

  font-size: 14px;
  background-image: $subtitle-gradient-light-theme;
  margin-bottom: 40px;

  @media (prefers-color-scheme: dark) {
    background-image: $subtitle-gradient-black-theme;
  }
}

.about-text {
  @include inter-font(500);

  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0;
  color: $main-light-theme-text-color;
  text-align: center;
  margin-bottom: 40px;

  @media (prefers-color-scheme: dark) {
    color: $main-black-theme-text-color;
  }

  @media screen and (min-width: $tablet-min-width) {
    font-size: 17px;
  }
}

.about-button {
  @extend %section-button;

  padding-left: 30px;
  padding-right: 30px;
}
